Repository pieces-app/pieces-os-client-sdk-for-kotlin, pull requests merged in 2024-01, with the labels that each got.

#15 Gradle updated to create javadoc from kdocs
  .gitignore
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  settings.gradle.kts
Labels: documentation, gradle:config

#29 Gradle updates for version 1.2.2
  .gitignore
  .idea/libraries/Maven__org_jetbrains_kotlin_kotlin_script_runtime_1_9_0.xml
  build.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle.kts
Labels: gradle:config, version

#31 Contributor guide added
  CONTRIBUTING.md
Labels: documentation
